@CHARSET "UTF-8";

#frog-picture {
	float: left;
	background-color: blue;
	
}

#header {
	height: 15%;
	width: 100%;
	background-color: blue;
}

h1.title: {
	font: italic bold 20px arial, sans-serif;
} 
