@CHARSET "UTF-8";

* {
    margin: 0;
    
}

html, body {
	font-size: 100%;
	height: 100%	
}

.wrapper {
   min-height: 100%;
   height: auto !important;
   height: 100%;
   margin: 0 auto -4em;
}

.footer, .push {
   	
   height: 4em;
}

#frog-picture {
	float: left;
	width: 10%;	
}

#header {
	height: 30%;
	width: 100%;
}

.head {
	background-color: blue;
}

#title {
	float: top;
	
}

h1.title {
	font-style: bold;
	font-size: 3em; 
	font-family: arial, sans-serif;
	padding-left: 1em;
}
 
#navigation {
	width: 50%;
	float: bottom;
	overflow: hidden;
	
}

h2.nav {
	font-style: bold;
	font-size: 2.5em;
	font-family: arial, sans-serif;
	text-align: center;
}


#navcode {
	float: left;
}

#navcode:hover {
	background-color: green;
	cursor: default;
}

#navabout {
	float: right;
}

#navabout:hover {
	background-color: green;
	cursor: default;
}

#footer a:link {
	color:green;
}

#footer {
	overflow: hidden;
}

#twitter {
	width: 33%;
	overflow: hidden;
	float: left;
}

#twitter .twitter-follow-button {
   vertical-align: middle;
   margin: auto;	
}

#linkedin {
	width: 33%;
	overflow: hidden;
	float: left;
}

#linkedin .linkedin-button {
	vertical-align: middle;
	margin: auto;
}

#email {
	width: 33%;
	overflow: hidden;
	font-family: arial, sans-serif;
	float: left;
	align: center;
}

#email .mail-footer {
	vertical-align: middle;
	margin: auto;
}

#emailicon {
	height: 3.5em;
}


@media (max-width: 600px) {
#navigation {
	width: 100%;
}	
#navcode {    
    float: center;
    }
#navabout {
	float: center;
}
.footer {
	visibility: none;
}       
}
